.detail-page {
  padding-right: 24px;
  color: #fff
}

.topic-text {
  border-bottom: solid 1px #616161;
  display: inline;
  margin: 16px;
}

.disabled-text {
  color: #292929;
}

.selected-topic {
  border-bottom: solid 2px #C36118;
}
