.custom-table {
  width: 99%;

  color: #fff;

  tr {
    border-bottom: solid 1px #414141;
  }

  td {
    padding: 4px 0;
  }

  .body-row:hover {
    background-color: #c36118;
    color: #fff;
    cursor: pointer;
  }
}
