<div class="header">
  <div class="float-sector">
    <div class="top-button">
      <span>
        <fa-icon [icon]="faShield"></fa-icon>
        Minha Segurança
      </span>
    </div>
    <div class="orange-top-button">
      <span>
        <fa-icon [icon]="faNetwork"></fa-icon>
        Segurança de Terceiros
      </span>
    </div>
  </div>
  <div class="row align-items-center justify-content-end h-12vh">
    <div class="col-3 right">
      <span class="f-16px">
        Olá Nicolas, seja bem vindo!
      </span>
    </div>
    <div class="col-1">
      <div class="row align-items-center justify-content-center center">
        <div class="col-4">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="col-4">
          <fa-icon [icon]="faGear"></fa-icon>
        </div>
        <div class="col-4">
          <fa-icon [icon]="isLight ? faMoon : faSun" (click)="onToggle()"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
