.header {
  background-color: #303030c5;
  height: 12vh;
  position: relative;
  color: #fff;
}

.float-sector {
  position: absolute;
  display: flex;
  top: 0;
  left: 40%;
  width: auto;
}

.top-button {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: solid 1px #fff;
  padding: 16px;
  cursor: pointer;
}
.orange-top-button {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 16px;
  background-color: #C36100;
  cursor: pointer;
}
